// Navigation code here

.navArea {
    .navStyle();
    h1{
        font-size: 3.2rem;

    }
    nav{
        font-size: 1.6rem;
        padding-top: 15px;
        a{
            text-decoration: none;
            color: black;
            padding: 0px 10px;
        }
    }
}